<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <targets>
        <!-- Log to a file -->
        <target xsi:type="File" name="fileTarget" fileName="C:\ABC\ABC_WEB\${shortdate}.log"
                layout="${longdate} ${level} ${message} ${exception}"/>

        <!-- Log to console -->
        <target xsi:type="Console" name="consoleTarget" layout="${longdate} ${level} ${message} ${exception}"/>
    </targets>

    <rules>
        <!-- Log all levels to both file and console -->
        <logger name="*" minlevel="Trace" writeTo="fileTarget,consoleTarget"/>
    </rules>
</nlog>
